#if($om.getMinimalLoadAssessors().size()>0)
					<BR><BR>
					<div class="edit_header1" style="margin-bottom:16px">Assessments</div>
						<Table cellspacing="0" cellpadding="1" border="0">
							<TR>							
							<TH class="underscore">Experiment</TH>
							<TH class="underscore">Date</TH>
							<TH class="underscore">Project</TH>
							</TR>
								
								#foreach ($assessor in $om.getMinimalLoadAssessors())
									<TR>
										<TD NOWRAP>
										#if($assessor.canRead($user))
											#set ( $assessorID = $!assessor.getProperty("ID"))
											#set ( $assessorField = "${assessor.getXSIType()}.ID")
											<A name="LINK_assess$assessor.getId()" HREF="#LINK_assess$assessor.getId()" onClick="return blocking('_assess$assessor.getId()');">
				  	  	  <img ID="IMG_assess$assessor.getId()" src="$content.getURI("images/plus.jpg")" border=0>
				</A>
											#set ( $url = "$link.setAction('DisplayItemAction').addPathInfo('search_element',$!assessor.getXSIType()).addPathInfo('search_field',$assessorField).addPathInfo('search_value',$assessorID).addPathInfo('popup',$popup).addPathInfo('project',$!project)" )
												<a href="$url" title="$assessor.getIdentifier($project)">$user.getDisplayManager().getDisplayNameForElement($assessor.getXSIType())</A>
										#else
												<A  title="$assessor.getIdentifier($project)">$user.getDisplayManager().getDisplayNameForElement($assessor.getXSIType())</A>
										#end
										</TD>
										<TD NOWRAP>$!assessor.getProperty("date")</TD>
										<TD NOWRAP>$!assessor.getProjectDisplayID()</TD>
									</TR> 
								#end
							</TABLE>
#end