#set ($template = $data.getTemplateInfo())
$!template.setLayoutTemplate("NoMenu.vm")
#if($data.getSession().getAttribute("user").checkRole("Administrator"))
<form name="form1" method="post" action="$link.setAction("SetArcSpecs")">
<table>
 <TR>
   <TD COLSPAN=2>
     <DIV class="edit_header1">Please configure the default settings for your website.</DIV>
     <DIV >This edit page is also available through the Administration > More... section of the website, and can be modified at a later date.<b> All fields are required (unless otherwise specified)</b>.</DIV>
   </TD>
 </TR>
 <TR>
   <TD COLSPAN=2>
     &nbsp;
   </TD>
 </TR>
 <INPUT TYPE="hidden" NAME="arc:ArchiveSpecification/arc_archivespecification_id" VALUE="$!arc.getProperty("arc_archivespecification_id")"/>
 <INPUT TYPE="hidden" NAME="arc:ArchiveSpecification/globalPaths/arc_pathinfo_id" VALUE="$!pathInfo.getProperty("arc_pathinfo_id")"/>
 <TR>
  <TD valign="top">
  <DIV class="withThinBorder withColor" style="width:400">
   <TABLE>
   <TR>
    <TD colspan="2"><h4>Site Information</h4></TD>
   </TR>
 <TR>
   <TH align="left">Site ID</TH>
   <TD><INPUT size="30" TYPE="text" NAME="arc:ArchiveSpecification/site_id" VALUE="$!arc.getSiteId()" ONCHANGE="this.value=stringCamelCaps(this.value);"/></TD>
  </TR>
  <TR>
   <TD colspan="2"> The id used to refer to this site (also used to generate database ids). No spaces or non-alphanumeric characters.  It should be a short, one-word name or acronym which describes your site.
   </TD>
 </TR>
   <TR>
    <TD colspan="2" style="line-height:4px">&nbsp;</TD>
   </TR>
 <TR>
   <TH align="left">Site URL</TH>
   <TD><INPUT size="30" TYPE="text" NAME="arc:ArchiveSpecification/site_url" VALUE="$!arc.getSiteUrl()"/> </TD>
 </TR>
  <TR>
   <TD colspan="2">The address you want visible to users in emails, and other external links.  This should be a functional address (i.e. if the user pasted this address in their web browser, they should come to the site).  localhost only works if the web browser is located on the same machine.  You are required to guarantee that this address is functional for reaching the site.
   </TD>
 </TR>
   <TR>
    <TD colspan="2" style="line-height:4px">&nbsp;</TD>
   </TR>
 <TR>
   <TH align="left">Site Admin Email Address</TH>
   <TD><INPUT size="30" TYPE="text" NAME="arc:ArchiveSpecification/site_admin_email" VALUE="$!arc.getSiteAdminEmail()"/> </TD>
 </TR>
  <TR>
   <TD colspan="2">The administrative email account (which will receive frequent emails).  The number of emails can be configured on the Administration > More > Email Settings dialog.
   </TD>
 </TR>
   <TR>
    <TD colspan="2" style="line-height:4px">&nbsp;</TD>
   </TR>
 <TR>
   <TH align="left">SMTP Host (Server)</TH>
   <TD><INPUT size="30" TYPE="text" NAME="arc:ArchiveSpecification/smtp_host" VALUE="$!arc.getSmtpHost()"/></TD>
 </TR>
  <TR>
   <TD colspan="2"> SMTP Server used to send emails generated by the system.
   </TD>
 </TR>
   <TR>
    <TD colspan="2" style="line-height:4px">&nbsp;</TD>
   </TR>
   </TABLE>
  </DIV>
  </TD>
  <TD valign="top">
  <DIV class="withThinBorder withColor">
   <TABLE>
   <TR>
    <TD colspan="2"><h4>User/Registration Settings</h4></TD>
   </TR>
 <TR>
   <TH align="left">Require Login?</TH>
   <TD>
			   #xdatBooleanRadio("arc:ArchiveSpecification/require_login" $arc.getItem() true $vr)
			   </TD>
  </TR>
  <TR>
   <TD colspan="2">If true, then only registered users will be able to access your site.  If false, anyone visiting your site will automatically be logged in as 'guest' with access to public data.
   </TD>
 </TR>
   <TR>
    <TD colspan="2" style="line-height:4px">&nbsp;</TD>
   </TR>
 <TR>
   <TH align="left">Auto-enable User Accounts?</TH>
   <TD>
			#xdatBooleanRadio("arc:ArchiveSpecification/enable_new_registrations" $arc.getItem() false $vr)
			</TD>
 </TR>
  <TR>
   <TD colspan="2">If true, user accounts will be enabled automatically when the user registers.  Users will be able to access the site and any 'public' projects immediately.  If false, the site adminstrator will be required to manually enable user accounts.  Either way the administrator receives an email notification when a user registers.
   </TD>
 </TR>
   <TR>
    <TD colspan="2" style="line-height:4px">&nbsp;</TD>
   </TR>
   </TABLE>
  </DIV>
  </TD>
 </TR>
   <TR>
    <TD colspan="2">&nbsp;</TD>
   </TR>
 #set($pathInfo = $arc.getGlobalpaths())
 <TR>
  <TD colspan="2">
   <DIV class="withThinBorder withColor">
   <TABLE>
   <TR>
    <TD colspan="2"><h4>File System Configuration</h4></TD>
   </TR>
 <TR>
  <TH align="left" nowrap>Archive Location</TH><TD>Location where files are permanently archived.</TD>
  </TR>
  <TR>
  <TD colspan="2"><INPUT TYPE="text" SIZE="100" NAME="arc:ArchiveSpecification/globalPaths/archivePath" VALUE="$!pathInfo.getArchivepath()"/> 
  </TD>
 </TR>
   <TR>
    <TD colspan="2" style="line-height:4px">&nbsp;</TD>
   </TR>
 
 <TR>
  <TH align="left" nowrap>Pre-archive Location</TH><TD>Location where files are temporarily stored before they are archived.</TD>
  </TR>
  <TR>
  <TD colspan="2"><INPUT TYPE="text" SIZE="100" NAME="arc:ArchiveSpecification/globalPaths/prearchivePath" VALUE="$!pathInfo.getPrearchivepath()"/> </TD>
 </TR>
   <TR>
    <TD colspan="2" style="line-height:4px">&nbsp;</TD>
   </TR>
 
 <TR>
  <TH align="left" nowrap>Cache Location</TH><TD>Location where deleted files are copied to (to prevent accidental deletion of files).</TD>
  </TR>
  <TR>
  <TD colspan="2"><INPUT TYPE="text" SIZE="100" NAME="arc:ArchiveSpecification/globalPaths/cachePath" VALUE="$!pathInfo.getCachepath()"/> </TD>
 </TR>
   <TR>
    <TD colspan="2" style="line-height:4px">&nbsp;</TD>
   </TR>
 
 <TR>
  <TH align="left" nowrap>Build Location</TH><TD>Directory where temporarily processing information should be stored.  This folder should exist, but not have any files or sub-directories in it.</TD>
  </TR>
  <TR>
  <TD colspan="2"><INPUT TYPE="text" SIZE="100" NAME="arc:ArchiveSpecification/globalPaths/buildPath" VALUE="$!pathInfo.getBuildpath()"/> </TD>
 </TR>
   <TR>
    <TD colspan="2" style="line-height:4px">&nbsp;</TD>
   </TR>
 
 <TR>
  <TH align="left" nowrap>FTP Location</TH><TD> Directory where FTP Server will store files. This folder should exist, but not have any files or sub-directories in it.  (Use and installation of the XNAT FTP Server is optional, but this field must be set).</TD>
  </TR>
  <TR>
  <TD colspan="2"><INPUT TYPE="text" SIZE="100" NAME="arc:ArchiveSpecification/globalPaths/ftpPath" VALUE="$!pathInfo.getFtppath()"/></TD>
 </TR>
   <TR>
    <TD colspan="2" style="line-height:4px">&nbsp;</TD>
   </TR>
 
 <TR>
  <TH align="left" nowrap>Pipeline Installation Location</TH><TD>Location of XNAT Pipeline engine. By default, the pipeline engine is already installed in XNAT_HOME/pipeline.  This location should be matched here.  Change this to a different setting only if you have re-installed the Pipeline engine in another location.</TD>
  </TR>
  <TR>
  <TD colspan="2"><INPUT TYPE="text" SIZE="100" NAME="arc:ArchiveSpecification/globalPaths/pipelinePath" VALUE="$!pathInfo.getPipelinepath()"/> </TD>
 </TR>
   </TABLE>
   </DIV>
  </TD>
 </TR>
 
 <TR>
   <TD COLSPAN=2>
     &nbsp;
   </TD>
 </TR>
 
 <TR>
  <TD colspan="2">
   <DIV class="withThinBorder withColor">
   <TABLE>
   <TR>
   <TD colspan="2"><div class="WARNING"><b>Note to XNAT 1.4 users:</b></br> As of XNAT 1.5, DicomServer has been replaced by an internal DICOM receiver and does not need to be installed and configured separately.</div></TD>
   </TR>
   <TR>
    <TD colspan="2"></br><h4>DICOM Receiver (C-STORE SCP) Configuration</h4></TD>
   <TR>
    <TD colspan="2" style="line-height:4px">&nbsp;</TD>
   </TR>
 <TR>
   <TH align="left">Port number</TH>
   <TD><INPUT size="30" TYPE="text" NAME="arc:ArchiveSpecification/dcm/dcm_Port" VALUE="$!arc.getDcm_dcmPort()"/> </TD>
 </TR>
  <TR>
    <TD colspan="2">This is the port number to which C-STORE SCUs (scanners and other clients sending data) should connect. It is also the port that the SCP listens to, unless a different port has been configured using the <code>DICOM.port</code> property in WEB-INF/conf/DICOM-SCP.properties. See the <a href="http://www.xnat.org/DICOM+C-STORE+SCP">XNAT documentation</a> for detailed information about advanced configuration of the DICOM SCP.
    </TD>
 </TR>
   <TR>
    <TD colspan="2" style="line-height:4px">&nbsp;</TD>
   </TR>
 <TR>
   <TH align="left">DICOM AE Title</TH>
   <TD><INPUT size="30" TYPE="text" NAME="arc:ArchiveSpecification/dcm/dcm_ae" VALUE="$!arc.getDcm_dcmAe()"/> </TD>
 </TR>
  <TR>
   <TD colspan="2">This is the SCP Application Entity (AE) title.
   </TD>
 </TR>
   <TR>
    <TD colspan="2" style="line-height:4px">&nbsp;</TD>
   </TR>
   <TR>
    <TD colspan="2" style="line-height:4px">&nbsp;</TD>
   </TR>
 <TR>
   <TH align="left">Applet Link </TH>
   <TD>
   #xdatBooleanRadio("arc:ArchiveSpecification/dcm/applet_link" $arc.getItem() false $vr)
			    </TD>
 </TR>
  <TR>
   <TD colspan="2">Should a prominent link to the applet show up on the left bar of the index page?
   </TD>
 </TR>
   <TR>
    <TD colspan="2" style="line-height:4px">&nbsp;</TD>
   </TR>
   </TABLE>
   </DIV>
  </TD>
 </TR>
 
 <TR>
   <TD COLSPAN=2>
     &nbsp;
   </TD>
 </TR>
 <TR>
   <TD COLSPAN="2" align="center">
     <INPUT TYPE="submit" value="Save" name="eventSubmit_doPerform"/>
   </TD>
 </TR>
</table>
</form>
<SCRIPT language="javascript">
function stringCamelCaps(val)
{
        var temp = stringTrim(val);
        temp = temp.replace(/[&]/," ");
        temp = temp.replace(/[?]/," ");
        temp = temp.replace(/[<]/," ");
        temp = temp.replace(/[>]/," ");
        temp = temp.replace(/[(]/," ");
        temp = temp.replace(/[)]/," ");
        var newVal = '';
        temp = temp.split(' ');
        for(var c=0; c < temp.length; c++) {
              if (c==0)
                newVal += temp[c].substring(0,1) +
temp[c].substring(1,temp[c].length);
              else
                newVal += temp[c].substring(0,1).toUpperCase() +
temp[c].substring(1,temp[c].length);
        }
        
        return newVal;
}

function stringTrim(str)
{
   return str.replace(/^\s*|\s*$/g,"");
}
</SCRIPT>
#else
<DIV class="warning">WARNING:  The default settings of this server have not been set.  Please log in using an 'Administrator' account, like admin, and adjust the default settings.</DIV>
#end