<div id="logo" align="center"><img src="$server/images/logo.jpg"/></div>
<hr>
<TABLE>
 <TR>
  <TD><h3>$projectOM.getName() access request.</h3></TD>
 </TR>
 <TR><TD>

The following user has requested $access_level access to the $projectOM.getName() Project.  
Allowing the user to access the project will 
#if($access_level=="owner")
mean the user can read, edit and manage anything affiliated with this project.
#elseif($access_level=="member")
mean the user can read and edit the project's subject and experiment data. 
#else
mean the user can read the project's subject and experiment data.  The user will NOT be able to edit the data.
#end
</TD></TR>
<TR><TD><BR>

Login: $user.getLogin()<BR>

Email: $user.getEmail()<BR>

Firstname: $user.getFirstname()<BR>

Lastname: $user.getLastname()<BR>

</TD></TR>
<TR>
 <TD>&nbsp;
 </TD>
</TR>
<TR>
 <TD>Comments: $comments
 </TD>
</TR>
<TR>
 <TD>&nbsp;
 </TD>
</TR>
 <TR>
  <TD><a href="$server/app/template/RequestProjectAccessForm.vm/project/$projectOM.getId()/id/$user.getXdatUserId()/access_level/$access_level">Proceed to the site to approve or deny the user's request.</A></TD>
 </TR>
<TR><TD>
<br><br>
The $system Team<BR>

<a href="$server">$server</a><BR>

<a href="mailto:$admin_email">$admin_email</a>

</TD></TR></TABLE>